*{
    padding: 0;
    margin: 0;
}

/*Fontes*/
.fonte-oswald{
    font-family: 'Oswald', sans-serif;
}

.fonte-canter{
    font-family: 'Barlow Condensed', sans-serif;
}

/*NavBar*/
.navbar{
    margin: 3%;
    padding-left: 3%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .icon {
    display: none;
}

.navbar-itens{
    display: flex;
    flex-direction: row;
    margin: auto 0; 
}

.itens{
    display: flex;
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #23262B;
    align-self: center;
    font-weight: 300;
}

.itens:hover{
    text-decoration: underline #E7EA4B;
}

/*Introducao*/
.introducao{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

.descricao{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.introducao-fundo{
    flex: 1;
    align-self: center;
}

.pain{
    margin-left: 15%;
    font-size: 70px;
    font-weight: 300;
    margin-bottom: -3%;
}

.gain{
    margin-left: 20%;
    font-size: 70px;
    font-weight: lighter;
}

.texto-introducao{
    margin-left: 15%;
    font-size: 24px;
    font-weight: 200;
}

.tamanho-foto{
    width: 90%;
    float: right;
}

.botao-plano {
    padding: 1.3em 3em;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: bolder;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 30%;
    margin-left: 15%;
    margin-top: 5%;
    background-image: linear-gradient(#F5F944, #E7EA4B, #E8E82C);
    color: #fff;
   }

.botao-plano:hover{
    box-shadow: 0px 5px 10px rgb(244, 247, 115);
}

.down-mouse{
    display: flex;
    justify-content: center;
}

.mouse-responsivo{
    display: none;
}

.down-mouse img{
    width: 5%;
}

/*Sobre*/
.sobre{
    background-color: #B5B9C5;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    padding-right: 3%;
    justify-items: center;
    padding-top: 6%;
    padding-bottom: 6%;
}

.foto-sobre{
    width: 23rem;
}

.conteudo-sobre{
    margin-left: 5%;
    flex: 1;
}

.titulo-sobre{
    font-size: 3rem;
    font-weight: 500;
}

.titulo-cor{
    color: #E6E67D;
    font-weight: 500;
}

.texto-sobre{
    font-size: 20px;
    margin-top: 4%;
    margin-right: 15%;
    font-weight: 300;
}

.sobre-esquerda{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Planos*/
.planos-titulo{
    font-size: 40px;
    font-weight: 400;
    color: #23262B;
    margin-bottom: 7%;
}

.planos{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 10%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    border-radius: 33px;
    background-image: linear-gradient(#F5F944, #E7EA4B, #E8E82C);
    box-shadow: 0px 5px 10px rgb(244, 247, 115);
    margin: 3%;
}

.cardum{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    box-shadow: 0px 5px 10px rgb(241, 241, 241);
    border-radius: 33px;
    margin: 5%;
}

.planos-valor{
    font-size: 60px;
    color:#23262B;
    font-weight: 500;
}

.valor-cardum{
    font-size: 60px;
    background-image: linear-gradient(#F5F944, #E7EA4B, #E8E82C);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.titulo-planos{
    font-size: 20px;
    font-weight: 500;
    color: #23262B;
    margin-top: 7%;
    align-self: center;
}

.texto-planos{
    font-size: 12px;
    color: #23262B;
    align-self: center;
}

.subtexto-planos{
    font-size: 11px;
    color: #23262B;
    align-self: center;
    margin-bottom: 5%;
}

.texto-planosdois{
    font-size: 12px;
    color: #23262B;
    margin: auto;
    font-weight: 500;
}

.texto-planosdoiss{
    font-size: 10px;
    color: #23262B;
    margin: auto;
    font-weight: 500;
    padding-bottom: 10%;
}

.texto-planosum{
    font-size: 12px;
    background-image: linear-gradient(#F5F944, #E7EA4B, #E8E82C);
    color: black;
    align-self: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.incluso{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-right: 8%;
    padding-top: 1.5%;
}

.inclusodois{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-right: 8%;
    padding-top: 1.5%;
    padding-bottom: 10%;
}

.botao-valor {
    padding: 1.3em 3em;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: bolder;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    align-self: center;
    width: 70%;
    background-color: #fff;
    color: #E6E67D;
    margin-bottom: 5%;   
    margin-block-start: auto;
   }

.botao-valor:hover{
    box-shadow: 0px 5px 10px rgb(243, 243, 224);
}

.botao-valordois {
    padding: 1.3em 3em;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: bolder;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    align-self: center;
    width: 70%;
    background-image: linear-gradient(#F5F944, #E7EA4B, #E8E82C);
    color: #fff;
    margin-top: 25%;
    margin-bottom: 5%;
    margin-block-start: auto;
   }

.botao-valordois:hover{
    box-shadow: 0px 5px 10px rgb(244, 247, 115);
}

/*Frequência*/
.frequencia{
    background-color: #B5B9C5;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.grafico{
    width: 50rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.158);
    border-radius: 33px;
}

.grafico-responsivo{
    display: none;
}

.grafico:hover{
    -webkit-transform: scale(1.05);
   transform: scale(1.05);
   transition: 0.5s;
   box-shadow: 0px 5px 10px rgb(244, 247, 115);

}

.grafico-centro{
    display: flex;
    justify-content: center;
}


/*RESPONSIVO*/

/*NavBar*/
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
      color: #23262B;
      font-size: xx-large;
    }
    .navbar{
        display: block !important;
        margin: 5%;
    }
  
    .navbar-itens{
      display: block;
      flex-direction: column !important;
    }

    .itens:hover{
        background-color: #e6e67d70;
        border-radius: 5px;
        text-decoration: none;
    }

    .tamanho-foto{
        display: none;
    }

    .foto-sobre{
        width: 12rem;
    }

    .texto-planosdois{
        font-size: 10px;
    }

    .introducao{
        height: 70vh;
    }

    .down-mouse img{
        width: 20%;
    }

    .grafico-responsivo{
        width: 20rem;
        margin: 5%;
    }
    
}

  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        float: right;
        display: block;
        margin: auto 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/*Introdução*/
@media(max-width: 815px){
    .pain{
        text-align: center;
        margin-left: 0;
    }
    
    .gain{
        text-align: center;
        margin-left: 5%;
    }

    .texto-introducao{
        align-self: center;
        margin-left: 0 !important;
        text-align: center;
    }

    .botao-plano{
        align-self: center;
        margin-left: 0 !important;
        width: 50%;
        margin-bottom: 5%;
    }

    .down-mouse img{
        width: 10%;
    }

    .tamanho-foto{
        width: 70%;
    }

    /*sobre*/
    .sobre{
        flex-direction: column-reverse;
    }
  
    .sobre-esquerda{
        margin-top: 2%;
    }

    .texto-sobre{
        margin: 5%;
        margin-bottom: 0 !important;
        text-align: justify;
    }

    .titulo-sobre{
        text-align: center;
    }

    .conteudo-sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*Planos*/
    .planos{
        flex-direction: column;
    }

    .card{
        align-items: center;
    }

    .cardum{
        align-items: center;
    }

    .subtexto-planos{
        margin-bottom: 2%;
    }

    .botao-valor{
        margin-top: 5% !important;
    }

    .botao-valordois{
        margin-top: 5% !important;
    }

    .inclusodois{
        padding-bottom: 0 !important;
    }

    /*Frequencia*/
    .grafico{
        display: none;
    }

    .grafico-responsivo{
        display: flex;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.158);
        border-radius: 33px;
    }
}